* {
  outline: none;
}

@font-face {
  font-family: Intro;
  src: url(../fonts/intro.ttf);
  src: url(../fonts/intro.otf);
  src: url(../fonts/Intro.woff);
}
html {
  font-size: 16px;
}

body {
  background: #0a0c0d;
  font-family: Lato;
  font-weight: 300;
  line-height: 1.9;
  font-size: 16px;
  color: #fdfdfd;
}

.block-t {
  padding-top: 123px;
}

.block-l {
  padding-bottom: 43px;
}

a {
  color: #0ff;
  font-size: 18px;
  padding: 7px 0;
  position: relative;
  outline: none;
  transition: color .3s ease;
}
a:before {
  background: #0ff;
  content: '';
  opacity: 0;
  height: 1px;
  position: absolute;
  bottom: -2px;
  transition: bottom .2s linear, opacity .2s linear;
  width: 100%;
}
a:hover {
  color: #0ff;
  text-decoration: none;
  outline: none;
}
a:hover:before {
  opacity: 1;
  bottom: 2px;
}
a:focus {
  color: #0ff;
  outline: none;
  text-decoration: none;
}
a:active {
  color: #ffcc14;
  outline: none;
}
a:active:before {
  opacity: 0;
}
a:visited {
  color: #63f;
}

a.alternative {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding: 11px 0;
  position: relative;
  text-shadow: 1px 1px 0 #ffcc14;
  transition: color .3s ease;
}
a.alternative:before {
  background: #0ff;
  content: '';
  opacity: 0;
  height: 2px;
  position: absolute;
  bottom: -2px;
  transition: bottom .2s linear, opacity .2s linear;
  width: 100%;
}
a.alternative:hover {
  color: #0ff;
  text-decoration: none;
}
a.alternative:hover:before {
  opacity: 1;
  bottom: 3px;
}
a.alternative:focus {
  color: #fff;
  text-decoration: none;
}
a.alternative:active {
  color: #ccff33;
}
a.alternative:active:before {
  opacity: 0;
}
a.alternative:visited {
  color: #06f;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: Intro;
  margin-top: 0;
}

h1, .h1 {
  font-size: 3rem;
  margin-bottom: 6px;
}

h2, .h2 {
  font-size: 2.25rem;
  margin-bottom: 9px;
}

h3, .h3 {
  font-size: 1.875rem;
  margin-bottom: 12px;
}

h4, .h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

h5, .h5 {
  font-size: 1.125rem;
  margin-bottom: 14px;
}

h6, .h6 {
  font-size: 0.875rem;
  margin-bottom: 14px;
}

hr {
  border-color: rgba(255, 255, 255, 0.85);
  position: relative;
  margin: 15px auto 25px;
  width: 43px;
  overflow: visible;
}
hr:before, hr:after {
  background: #fff;
  content: '';
  position: absolute;
  top: -5px;
  height: 9px;
  width: 1px;
  left: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
hr:before {
  margin-left: -2px;
}
hr:after {
  margin-left: 3px;
}

p {
  margin: 0 0 30px;
}

figcaption {
  color: #999;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.45;
  padding: 17px 26px;
}
figcaption span {
  font-weight: normal;
}

ol, ul {
  padding-left: 35px;
  position: relative;
}
ol li, ul li {
  list-style: none;
}
ol li:before, ul li:before {
  position: absolute;
  left: 1px;
}

ul {
  padding-left: 20px;
}

ul li:before {
  margin-top: -2px;
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAPElEQVQIW42N0REAIAhCYSbbfwKdicpTr8/8QuQh0SMJJHsdgXPQWmBEerzGUBMvVGaiOy7xUfX0JFk/NsKCG2suG7TPAAAAAElFTkSuQmCC");
}

ol[type="I"] {
  counter-reset: item;
}
ol[type="I"] li:before {
  position: absolute;
  left: 1px;
  content: counter(item,upper-roman) ".";
  counter-increment: item;
  color: #00f4f4;
  text-shadow: 1px 1px 0 #ffcc14;
}

.table-wrapper {
  overflow: auto;
  position: relative;
}

table {
  width: 100%;
  text-align: center;
  font-family: Lato;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEE2C30', endColorstr='#ffcc14');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlMmMzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjNGVmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffcc14), color-stop(100%, #1c4ef1));
  background-image: -moz-linear-gradient(left, #ffcc14 0%, #1c4ef1 100%);
  background-image: -webkit-linear-gradient(left, #ffcc14 0%, #1c4ef1 100%);
  background-image: linear-gradient(to right, #ffcc14 0%, #1c4ef1 100%);
}
table th {
  text-align: center;
  background: transparent;
}
table thead th {
  padding: 12px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 300;
}
table thead th + th {
  border-left: 1px solid #6cf;
}
table thead {
  border-right: 1px solid #1c4ef1;
}
table tbody td,
table tfoot td {
  border: 1px solid #6cf;
  padding: 8px;
  text-transform: capitalize;
}
table tbody tr,
table tfoot tr {
  background-color: #0a0c0d;
}
table tbody tr:first-child td,
table tfoot tr:first-child td {
  border-top: 0;
}

blockquote {
  border-left: none;
  font-style: italic;
  font-size: 1rem;
  padding: 0px 33px;
  position: relative;
  margin: 0 0 0 42px;
  line-height: 1.46;
}
blockquote:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #ffcc14 0%, #1c4ef1 100%);
  background: -ms-linear-gradient(to top, #ffcc14 0%, #1c4ef1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c4ef1',endColorstr='#ffcc14',GradientType=0);
  zoom: 1;
}
blockquote small {
  color: #ffcc14;
  font-size: 1rem;
  padding-top: 13px;
}
blockquote small:before {
  display: none;
}

input.input, textarea, input[type=password], input[type=text], input[type=email], input[type=number], input[type=tel], input[type=url] {
  background: transparent;
  border-radius: 0;
  border: 1px solid #0ff;
  color: #fff;
  font-size: 0.875rem;
  font-family: Lato;
  font-weight: 300;
  padding: 16px 24px 15px;
  max-width: 300px;
  margin-bottom: 10px;
  line-height: 1;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
  opacity: 1;
}

::-moz-placeholder {
  color: #999;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #999;
}

.checkbox input, .radio input {
  display: none;
}

.checkbox label, .radio label {
  display: inline-block;
  font-weight: 300;
  font-family: Lato;
  font-size: 0.875rem;
  margin-bottom: 0;
  padding-left: 30px;
  position: relative;
}
.checkbox > label:before {
  background-color: transparent;
  bottom: 0;
  border: 1px solid #0ff;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 20px;
}
.radio > label:before {
  border-radius: 50%;
  border: 1px solid #0ff;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 20px;
}

.checkbox > input[type=checkbox]:checked + label:before {
  content: url("../img/check.svg");
  text-align: center;
  line-height: 100%;
  padding-top: 1px;
}

.radio > input[type=radio]:checked + label:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: #0ff;
  position: absolute;
  left: 6px;
  top: 10px;
}

.checkbox.disabled > label,
.radio.disabled > label {
  cursor: not-allowed;
  opacity: .5;
}

.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}

.btn {
  padding: 0;
  margin-bottom: 20px;
}

.btn,
.btn input[type="submit"],
.btn button {
  background: #111517;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: #fff;
  font-family: Lato, helvetica, arial;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}
.btn:after, .btn:before,
.btn input[type="submit"]:after,
.btn input[type="submit"]:before,
.btn button:after,
.btn button:before {
  content: '';
  position: absolute;
  margin: auto;
  border: solid #1d4ef0;
  transition: all .8s ease;
  z-index: 1;
}
.et-light .btn:after, .et-light .btn:before, .et-light
.btn input[type="submit"]:after, .et-light
.btn input[type="submit"]:before, .et-light
.btn button:after, .et-light
.btn button:before {
  content: '';
  position: absolute;
  margin: auto;
  border: solid #00bff3;
  transition: all .8s ease;
  z-index: 1;
}
.btn:after, .et-light .btn:after,
.btn input[type="submit"]:after, .et-light
.btn input[type="submit"]:after,
.btn button:after, .et-light
.btn button:after {
  top: 52%;
  bottom: 52%;
  left: -1px;
  right: -1px;
  border-width: 0 1px;
}
.btn:before, .et-light .btn:before,
.btn input[type="submit"]:before, .et-light
.btn input[type="submit"]:before,
.btn button:before, .et-light
.btn button:before {
  top: -1px;
  bottom: -1px;
  left: 52%;
  right: 52%;
  border-width: 1px 0;
}
.btn.hover:after, .btn:hover:after,
.btn input[type="submit"].hover:after,
.btn input[type="submit"]:hover:after,
.btn button.hover:after,
.btn button:hover:after {
  top: -10%;
  bottom: -10%;
}
.btn.hover:before, .btn:hover:before,
.btn input[type="submit"].hover:before,
.btn input[type="submit"]:hover:before,
.btn button.hover:before,
.btn button:hover:before {
  left: -6%;
  right: -6%;
}

.btn input[type="submit"],
.btn button {
  padding: 16px 62px;
  z-index: 2;
}

.bootstrap-select {
  display: inline-block;
  max-width: 300px;
  width: 100%;
  color: #999;
  font-size: .875rem;
}
.bootstrap-select .bs-caret {
  float: right;
  color: #0ff;
}
.bootstrap-select .bs-caret span {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}
.bootstrap-select select {
  display: none;
}
.bootstrap-select .btn.dropdown-toggle {
  display: inline-block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #0ff;
  padding: 11px 24px;
  text-transform: none;
  font-weight: 300;
  color: inherit;
  font: inherit;
  margin-bottom: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-select .btn.dropdown-toggle:before, .bootstrap-select .btn.dropdown-toggle:after {
  content: none;
}
.bootstrap-select .dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-select > .dropdown-menu {
  width: 100%;
}
.bootstrap-select ul.dropdown-menu {
  position: static;
  width: 100%;
  opacity: 0;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.bootstrap-select ul.dropdown-menu li {
  max-width: 100%;
  background-color: #0ff;
  cursor: pointer;
  padding: 11px 24px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.bootstrap-select ul.dropdown-menu li.selected, .bootstrap-select ul.dropdown-menu li:hover {
  background: #111517;
  color: #fff;
}
.bootstrap-select ul.dropdown-menu li a {
  padding: 0;
  color: inherit;
  font: inherit;
}
.bootstrap-select ul.dropdown-menu li a .glyphicon {
  display: none;
}
.bootstrap-select ul.dropdown-menu li a:before {
  content: none;
}
.bootstrap-select ul.dropdown-menu li a:hover, .bootstrap-select ul.dropdown-menu li a:active, .bootstrap-select ul.dropdown-menu li a:focus {
  background-color: transparent;
  color: inherit;
}
.bootstrap-select ul.dropdown-menu li:before {
  content: none;
}
.bootstrap-select.open ul.dropdown-menu {
  opacity: 1;
}
.bootstrap-select.open .bs-caret {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.p12 {
  padding-bottom: 12px;
}

.p20 {
  padding-bottom: 20px;
}

.p70 {
  padding-bottom: 70px;
}

.et-light {
  padding: 70px 0;
  background: #dfdfdf;
}
.et-light input.input, .et-light textarea, .et-light input[type=password], .et-light input[type=text], .et-light input[type=email], .et-light input[type=number], .et-light input[type=tel], .et-light input[type=url] {
  border: 1px solid #6dcbcb;
}
.et-light .checkbox > label,
.et-light .radio > label {
  color: #666;
}
.et-light .checkbox > label:before,
.et-light .radio > label:before {
  border: 1px solid #6dcbcb;
}
.et-light .checkbox > input[type=checkbox]:checked + label:before {
  content: url("../img/check-light.svg");
}
.et-light .radio > input[type=radio]:checked + label:before {
  color: #6dcbcb;
}
.et-light .bootstrap-select .btn.dropdown-toggle {
  border-color: #6dcbcb;
}
.et-light .bootstrap-select .bs-caret {
  color: #6dcbcb;
}
.et-light .bootstrap-select ul.dropdown-menu li {
  background-color: #6dcbcb;
}
.et-light .bootstrap-select ul.dropdown-menu li:hover, .et-light .bootstrap-select ul.dropdown-menu li:active, .et-light .bootstrap-select ul.dropdown-menu li:focus, .et-light .bootstrap-select ul.dropdown-menu li.selected {
  background: #111517;
  color: #fff;
}
.et-light div.dropdown label:before {
  border-top: 6px solid #6dcbcb;
}
.et-light .btn,
.et-light .btn input[type="submit"],
.et-light .btn button {
  background: #bfbebe;
  color: #333;
}
